{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
    </head>

    <body>
        <div class="container">
            <img class="logo_cadastro" src="{% static 'img/instagram-logo.png'%}" alt="logo_instagram">
            <form class="box"action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Número do celular ou email" name="cadastroemail"/>
                <br><br>
                <input type="text" placeholder="Nome completo" name="cadastroemail"/>
                <br><br>
                <input type="text" placeholder="Nome de usuário" name="cadastroemail"/>
                <br><br>
                <input type="password" placeholder="senha" name="senha"/>
                <br><br>
                <input type="submit" value="Cadastre-se"/>
                <br><br>
            </form>  
        </div>
    </body>

</html>