{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css'%}">
    <title>Página PROTEGIDA POR LOGIN</title>
    
</head>

<header>
    <div class="cabecalho">
        <div class="homelogo">
            <img src="{% static 'img/instagram-logo.png'%}" alt="Instagram logo">
        </div>
        <div class="homelogout">
            <a href="/auth/home">Logout</a>
        </div>
    </div>
</header>
<nav>
    <a>Barra de navegação</a>
</nav>

<body class="corpo-inicio">
    <p>Login efetuado</p>
    <p>Bem vindo</p>
      
    <div class="img_home">
        
            <img src="{% static 'img/dog.jpg'%}">
            <img src="{% static 'img/tigre.jpg'%}">
            <img src="{% static 'img/dogdeoculos.jpg'%}">
            <img src="{% static 'img/ferramentas.jpg'%}">
            <img src="{% static 'img/caveira.jpg'%}">
    </div>
</body>

</html>