body {
    background-color: rgb(245, 245, 245);
    
    
}

section {
    margin-top: 60px;
}

footer {
    margin-top: 100px;
    height: 50px;
    
}

input[type="text"] {
    height: 25px;
    margin-bottom: 7px;
    font-size: 12px;
    padding-left: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}

ul {
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    font-size: 12px;
    color: gray;
    display: inline-block;
    margin-right: 10px;
    cursor:pointer;
}

input[type="text"], textarea {
    background: rgb(245, 245, 245);
}

input[type="password"], textarea {
    background: rgb(245, 245, 245);
    height: 20.5px;
    width: 303px;
}

input[type="submit"], textarea {
    height: 30px;
    background-color: rgb(0, 137, 228);
    border-radius: 5px;
    border-style: none;
    font-weight: bolder;
    color: white;
    margin-top: 15px;
    cursor:pointer;
    
}

input {
    width: 100%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(40, 40, 110);
}







.cabecalho{
    
    background-color: #0095f6;
    text-align: right;
}
.cabecalho .homelogo{
    text-align: left;
}

.barra-nav-home{
    background-color: aquamarine;
}

.img_home{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    border: solid black;
} 
.img_home img{
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    
}


.flexbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.wrap {
    flex-wrap: wrap;
}

.frame {
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: lightgray;
    padding: 10px 40px 10px 40px;
    width: 100%;
    margin-bottom: 10px;
}

.bar {
    height: 1px;
    width: 37%;
    background-color: lightgray;
}

.texto_cadastro{
    text-align: center;
}

.download-button {
    width: 140px;
}

.width-100 {
    width: 100%;
}

.screenshot {
    position: absolute;
    z-index: -1;
    left: 130px;
    top: 10px;
    width: 240px;
}

.container{
    border:solid 5px #f0f0f0;
    width: 100vw;
    height: 100vh;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0px; 
    
    
}



.box{
  
    width: 300px;
    height: 300px;
    background: #ffffff;
  

}


.logo_cadastro{
    display: block;
    margin:0px;
    margin-bottom: 400px;
    height: 45px;
    width: 169px;
    position: absolute;

}
.app_cadastro{
    border:solid 5px #f0f0f0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px; 
    
}
.texto_cadastro{
    border:solid 5px #f0f0f0;
    background: #fafafa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0px;  

}

#facebook_cadastro{
    display: block;
    margin:0px auto;
    
}

#ig-logo {
    margin: 40px 30px 30px 30px;
    align-self: center;
    max-width: 175px;
}

#or-p {
    font-weight: bold;
    font-size: 14px;
    color: rgb(153, 153, 153);
}

#or {
    justify-content: space-between;
}

#main-menu {
    width: 300px;
    margin-top: 0%;
    margin-right: 78px;
}

#text-14 {
    font-size: 14px;
}

#sign-up-a {
    color: rgb(0, 137, 228);
    font-weight: bold;
}

#login-facebook p {
    height: 28px;
    width: 237px;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    background-color: #0095f6;
    border-radius: 5px;
    border-style: none;  
    
}

#forgot-password {
    font-size: 12px;
}

#facebook-forgot {
    justify-content: space-around;
}

#download {
    width: 100%;
}

#facebook-icon {
    width: 16px;
    border-radius: 3px;
    margin-right: 10px;
}

#everything {
    max-width: 850px;
}

#smartphone-pics{
    width: 100%;
    top:0px;
    left:80px;
    position:relative;
}

#smartphone {
    width: 250px;
  
    
}
.segundo_cel{
    width: 290px;
    top:30px;
    left:50px;
    position: absolute;
    
   
}
#screenshot{
    position:relative;
    width: 230px;
    height: 515px;
    bottom:540px;
    left: 12px;
    border-radius: 5%;
}

@media (max-width: 750px) {
    #smartphone-pics {
        display: none;
    }
    

    #everything {
        min-width: 500px;
    }
}